@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('img/product-sans-cufonfonts-webfont/style.css');

body {
margin-top: 0px;
font-family: 'Roboto', sans-serif;
}

header, main {
width: 100%;
max-width: 1440px;
margin: auto;
text-align: center;
}

header {
position: fixed;
top: 0px;
background: #FFFFFF;
display: block;
z-index: 15;
}

.header_content {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0px 40px;
height: 100px;
}

.menu {
text-align: left;
display: flex;
align-items: center;
}

.sertificate {
display: flex;
align-items: center;
}

.img_sert {
background-image: url("img/medal.svg");
width: 20px;
height: 20px;
}

.sertificate span {
padding-left: 3px;
padding-right: 27px;
}

.button {
display: inline-block;
background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 104.29%);
border: none;
border-radius: 5px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
text-align: center;
color: #FFFFFF;
}

.sertificate .button {
width: 140px;
font-size: 14px;
padding-top: 12px;
padding-bottom: 11px;
}

#logo {
font-family: Product Sans;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 32px;
letter-spacing: -0.03em;
background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

nav ul {
list-style-type: none;
display: flex;
justify-content: space-between;
}

nav li {
font-family: Roboto;
font-style: normal;
font-weight: normal;
padding: 0px 15.5px;
font-size: 13px;
line-height: 15px;
float: left;
}

main {
position: absolute;
padding-top: 100px;
z-index: 10;
}

#firstscreen {
display: flex;
align-items: center;
height: 700px;
width: 100%;
background: linear-gradient(to right, #FFFCEB 0%, #EAFFFE 100%);
position: relative;
}

#somesheet {
z-index: 10;
}

#svg1 {
background: url(img/slider/image.svg);
position: absolute;
width: 715.78px;
height: 573.87px;
left: 612px;
top: 49px;
z-index: 8;
}

#svg2 {
background: url(img/slider/Group.svg);
height: 158px;
width: 130px;
left: 569px;
top: 45px;
border-radius: 0px;
position: absolute;
z-index: 7;
}

#svg3 {
background: url(img/slider/Group-1.svg);
height: 158px;
width: 130px;
left: 1241px;
top: 495px;
border-radius: 0px;
position: absolute;
z-index: 9;
}

#svg4 {
background: url(img/slider/Group-3.svg);
height: 52.1px;
width: 52.3px;
left: 569px;
top: 501px;
position: absolute;
z-index: 9;
}

#svg5 {
background: url(img/slider/Group-2.svg);
height: 52.1px;
width: 52.3px;
left: 584px;
top: 484px;
position: absolute;
z-index: 9;
}

#svg6 {
background: url(img/slider/Vector-1.svg);
height: 13px;
width: 13px;
left: 599px;
top: 432px;
position: absolute;
z-index: 9;
}

#svg7 {
background: url(img/slider/Vector.svg);
height: 24.5px;
width: 24.5px;
left: 1329px;
top: 407px;
position: absolute;
z-index: 9;
}

#slider-text {
width: 399px;
height: 357px;
margin-left: 165px;
z-index: 11;
position: relative;
}

h1 {
font-family: Product Sans;
font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 68px;
margin-bottom: 25px;
margin-top: 0px;
}

p {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
}

#slider-text .button {
width: 200px;
font-size: 18px;
padding-top: 19px;
padding-bottom: 19px;
margin-top: 50px;
}

#message {
display: flex;
flex-wrap: wrap;
align-items: center;
padding-top: 110px;
padding-left: 165px;
padding-right: 227px;
justify-content: space-between;
}

#photo {
width: 442px;
height: 436px;
position: relative;
}

#photo img {
position: absolute;
left: 0px;
bottom: 0px;
z-index: 10;
background-color: white;
}

#shadow {
height: 355px;
width: 361px;
border-radius: 4px;	
background: linear-gradient(92.18deg, rgba(132, 238, 235, 0.35) 1.83%, rgba(204, 209, 255, 0.35) 98.3%);
z-index: 8;
position: absolute;
right: 0px;
top: 0px;
}

#decor {
background: url(img/photo-decor.svg);
height: 90px;
width: 74px;
right: 44px;
top: 45px;
position: absolute;
z-index: 9;
}

#message-text {
width: 470px;
height: 436px;
}

h2 {
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 400;
letter-spacing: 0em;
line-height: 42px;
}

.micro {
font-size: 14px;
line-height: 20px;
letter-spacing: 0em;
}

.readmore {
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
border-bottom: 1px solid;
background: linear-gradient(90deg, #3AE4DF 0%, #7A88FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-top: 26px;
}

#upcoming {
padding-top: 90px;
padding-bottom: 100px;
text-align: center;
}

#courses {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: flex-start;
margin: auto;
padding-top: 50px;
}

.card {
width: 261px;
display: flex;
flex-direction: column;
text-align: left;
padding: 11px;
}

.logosquare {
display: flex;
justify-content: center;
align-items: center;	
text-align: center;
width: 261px;
height: 240px;
border-radius: 4px;
}

.details {
width: 120px;
font-size: 14px;
letter-spacing: 0em;
margin-top: 24px;
padding-top: 12px;
padding-bottom: 11px;
}

.bold {
font-weight: 700;
}

.oracle {
background-color: #FFF5F6;
}

.py {
background-color: #FFFCEB;
}

.android {
background-color: #EBFFF4;
}

.cisco {
background-color: #FFF5F6;

}

@media screen and (max-width: 1450px) {
#svg1 {
left: 40%;
}

#svg2 {
left: 37%;
}

#svg3 {
left: 85%;
}

#svg4 {
left: 38%;
}

#svg5 {
left: 39%;
}

#svg6 {
left: 41%;
}

#svg7 {
left: 95%;
}

#slider-text {
width: 30%;
height: 700px;
display: flex;
flex-direction: column;
justify-content: center;
margin-left: 60px;
background-color: white;
}

#message {
padding-left: 20px;
padding-right: 20px;
justify-content: space-around;
}
}

@media screen and (max-width: 1199px) {

.header_content {
align-items: center;
justify-content: flex-start;
height: 160px;
flex-direction: column;
}

.menu {
align-self: flex-start;
padding: 20px 0px;
}

.sertificate {
align-self: flex-end;
}

nav ul {
list-style-type: none;
display: flex;
justify-content: space-between;
}

#firstscreen {
background: url(img/slider/image.svg);
background-size: 100%;
background-repeat: no-repeat;
align-items: center;
justify-content: center;
margin: auto;
}

#somesheet, #svg1, #svg2, #svg3, #svg4, #svg5, #svg6, #svg7 {
display: none;
}

#slider-text {
width: 80%;
height: 500px;
margin-left: 0px;
text-align: center;
padding: 20px;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.8);
}

#slider-text .button {
align-self: center;
}
}

@media screen and (max-width: 1000px){
#message {
align-items: flex-start;
padding-top: 0px;
}

#photo {
width: 310px;
height: 306px;
}

#photo img {
width: 270px;
}

#shadow {
height: 265px;
width: 270px;
}

#decor {
background: url(img/photo-decor.svg);
height: 48.64px;
width: 40px;
right: 20px;
top: 21px;
}

#upcoming {
padding-top: 10px;
padding-bottom: 20px;
}

#courses {
padding-top: 10px;
}
}

@media screen and (max-width: 880px){

.header_content {
justify-content: space-between;
flex-direction: row;
height: 250px;
padding-left: 0px;
}

.menu {
flex-direction: column;
}

nav ul {
flex-direction: column;
}

nav li {
padding: 5px;
}

.sertificate {
flex-direction: column;
justify-content: center;
}

.sertificate span {
padding: 7px 0px;
margin: auto;
}

.sertificate .button {
margin-bottom: 130px;
}

main {
padding-top: 200px;
}

#message-text {
width: 90%;
height: auto;
}
}

@media screen and (max-width: 310px){
.sertificate span {
font-size: 12px;
}

.sertificate .button {
width: 100px;
}

#photo {
width: 270px;
height: 265px;
}

#photo img {
width: 220px;
}

#shadow {
height: 215px;
width: 220px;
}

#decor {
width: 40px;
right: 10px;
top: 15px;
}

h1 {
font-size: 42px;
line-height: 44px;
}

h2 {
font-size: 24px;
line-height: 28px;
}
}


